# Node
node_modules/
dist/

# Python
__pycache__/
*.py[cod]
venv/
backend/venv/

# Environment
.env
.env.*

# Jupyter
.ipynb_checkpoints/

# ML models
*.pkl
*.joblib
backend/models/*.joblib
backend/models/*.pkl
!backend/models/.gitkeep

# OS
.DS_Store

# IDE
.vscode/
.idea/
